<div class="container my-5">
  <h1 class="text-center">Articles</h1>
  <ul class="articles mt-5 list-group rounded">
    <% @articles.each do |article| %>
      <li class="list-group-item p-4">
        <%= link_to article_path(article) do %>
          <h3><%= article.title %></h3>
          <p><%= article.content %></p>
          <div>
            <%= link_to edit_article_path(article) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>

            <%= link_to article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
